 .u-section-1 {
  min-height: 758px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 417px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 340px;
  height: 340px;
  background-image: url("images/Headshot-2.jpeg");
  background-position: 50% 3.56%;
  margin: 3px auto 0 110px;
}

.u-section-1 .u-group-1 {
  width: 646px;
  min-height: 250px;
  margin: -289px auto 0 484px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: "Alex Brush";
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 352px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 20px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 248px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 6px;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 625px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -295px;
    margin-left: 334px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -93px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 529px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-1 .u-image-1 {
    width: 250px;
    height: 250px;
  }

  .u-section-1 .u-group-1 {
    width: 539px;
    min-height: 321px;
    margin-top: -250px;
    margin-left: 221px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-top: -55px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    min-height: 250px;
    margin-left: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }
}